# Home task: pandas 

## Question 1

- Load the energy data from the file [Energy Indicators.xls](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls).
It is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013.


- It should be put into a DataFrame with the variable name of "energy"


- Make sure to exclude the footer and header information from the datafile.


- The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:<br>
`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`


- Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule).


- For all countries which have missing data (e.g. data with `...`) make sure this is reflected as `np.NaN` values.


- Rename the following list of countries (for use in later questions):
    - `Republic of Korea`: `South Korea`,
    - `United States of America`: `United States`,
    - `United Kingdom of Great Britain and Northern Ireland`: `United Kingdom`,
    - `China, Hong Kong Special Administrative Region`: `Hong Kong`


- There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, e.g.:
    - `Bolivia (Plurinational State of)` should be `Bolivia`,
    - `Switzerland17` should be `Switzerland`.


- Next, load the GDP data from the file ["world_bank.csv"](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). 
It is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame "GDP"


- Make sure to skip the header, and rename the following list of countries:
    - `Korea, Rep.`: `South Korea`,
    - `Iran, Islamic Rep.`: `Iran`,
    - `Hong Kong SAR, China`: `Hong Kong`


- Finally, load the "Sciamgo Journal and Country Rank data for [Energy Engineering and Power Technology"](http://www.scimagojr.com/countryrank.php?category=2102). It ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame "ScimEn"


- Join the three datasets: Energy, GDP, and ScimEn into a new dataset (using the intersection of country names). Use only the 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).


- The index of this DataFrame should be the name of the country, and the columns should be<br>
`['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', 2012', '2013', '2014', '2015']`

Function "answer_one" should return the resulted DataFrame (20 columns and 15 entries)

## Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

In [1]:
import pandas as pd

# File names
ENERGY_FILE = "Energy Indicators.xls"
GDP_FILE = "world_bank.csv"
SCIM_ENERGY_FILE = "scimagojr.xlsx"

In [2]:
# Country names to rename
rename = {
    "Republic of Korea": "South Korea",
    "Democratic People's Republic of Korea": "North Korea",
    "United States of America": "United States",
    "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
    "China, Hong Kong Special Administrative Region": "Hong Kong",
    "China, Macao Special Administrative Region": "Macao",
    "The former Yugoslav Republic of Macedonia": "Republic of North Macedonia"
}

# Read first DataFrame from XLS file
energy = pd.read_excel(
    ENERGY_FILE,
    sheet_name="Energy",
    skiprows=17,      # Exclude header
    skipfooter=38,    # Exclude footer
    usecols="B,D:F",  # Get neccessary columns
    names=["Country", "Energy Supply", "Energy Supply per Capita", "% Renewable"],
    converters={
        "Country": lambda x: (
            rename[str(x)] if str(x) in rename else            # Rename chosen country names
            str(x)[:str(x).find(" (")] if " (" in str(x) else  # Remove parenthesis in country names
            str(x)
        ),
        "Energy Supply": lambda x: int(x) * 1000000,  # Convert values "Energy Supply" to gigajoules
        "Energy Supply per Capita": lambda x: int(x),
    },
    na_values="...",  # Convert "..." to NaN values
)

# Set "Country" column as DataFrame index
energy.set_index("Country", inplace=True)

# Check if DataFrame is read correctly
energy.head()

               Energy Supply Energy Supply per Capita  % Renewable
Country
Afghanistan        321000000                       10    78.669280
Albania            102000000                       35   100.000000
Algeria           1959000000                       51     0.551010
American Samoa           NaN                      NaN     0.641026
Andorra              9000000                      121    88.695650

In [3]:
# Country names to rename
rename = {
    "Czechia": "Czech Republic",
    "Egypt, Arab Rep.": "Egypt",
    "Micronesia, Fed. Sts.": "Micronesia",
    "Hong Kong SAR, China": "Hong Kong",
    "Macao SAR, China": "Macao",
    "Iran, Islamic Rep.": "Iran",
    "Korea, Rep.": "South Korea",
    "Korea, Dem. People's Rep.": "North Korea",
    "Venezuela, RB": "Venezuela",
}

# Read second DataFrame from CSV file
gdp = pd.read_csv(
    GDP_FILE,
    skiprows=4,  # Exclude header
    converters={
        "Country Name": lambda x: (
            rename[str(x)] if str(x) in rename else                    # Rename chosen country names
            str(x)[:str(x).find(", The")] if ", The" in str(x) else    # Remove ", The" from country names
            str(x)[:str(x).find(", Rep.")] if ", Rep." in str(x) else  # Remove ", Rep." from country names
            str(x)
        )
    }
)

# Set "Country Name" column as DataFrame index
gdp.set_index("Country Name", inplace=True)

# Check if DataFrame is read correctly
gdp.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN,NaN
Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.112502e+10,2.161623e+10,2.350628e+10,2.804836e+10,2.592067e+10,2.947210e+10,3.201437e+10,...,1.006526e+12,9.273485e+11,8.851764e+11,1.021043e+12,1.007196e+12,1.000834e+12,9.275933e+11,1.081998e+12,1.169484e+12,NaN
Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,...,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN,NaN
Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.044764e+10,1.117321e+10,1.199053e+10,1.272769e+10,1.389811e+10,1.492979e+10,1.591084e+10,...,8.943225e+11,7.686447e+11,6.913634e+11,6.848988e+11,7.670257e+11,8.225384e+11,7.864600e+11,8.444597e+11,8.778633e+11,NaN
Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11,NaN

In [4]:
# Read second DataFrame from XLSX file
scim_en = pd.read_excel(
    SCIM_ENERGY_FILE,
    sheet_name="Sheet1"
)

# Set "Country" column as DataFrame index
scim_en.set_index("Country", inplace=True)

# Check if DataFrame is read correctly
scim_en.head()

,Rank,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,,
China,1,Asiatic Region,360468,358777,3947871,2705774,10.95,308
United States,2,Northern America,199442,195042,3068926,881789,15.39,422
India,3,Asiatic Region,76103,74167,760964,280893,10.00,217
Japan,4,Asiatic Region,56249,55680,633294,136132,11.26,217
United Kingdom,5,Western Europe,52572,51156,909276,151672,17.30,267

In [5]:
def answer_one():
    # Columns names for the returned DataFrame
    columns = [
        "Rank", "Documents", "Citable documents", "Citations", "Self-citations", "Citations per document", "H index",
        "Energy Supply", "Energy Supply per Capita", "% Renewable",
        "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"
    ]

    # Construct new DataFrame using joining of all read DataFrames on their indexes (inner join)
    top15 = energy.join([gdp, scim_en], how="inner")

    # Set name of DataFrame index as "Country"
    top15.index.name = "Country"

    # Sort DataFrame by "Rank" column and get first 15 rows
    return top15[columns].sort_values("Rank").head(15)

# Test the function
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,360468,358777,3947871,2705774,10.95,308,127191000000,93,19.754910,2.752119e+12,3.550328e+12,4.594337e+12,5.101691e+12,6.087192e+12,7.551545e+12,8.532186e+12,9.570471e+12,1.047562e+13,1.106157e+13
United States,2,199442,195042,3068926,881789,15.39,422,90838000000,286,11.570980,1.381559e+13,1.447423e+13,1.476986e+13,1.447806e+13,1.504896e+13,1.559973e+13,1.625397e+13,1.684319e+13,1.755068e+13,1.820602e+13
India,3,76103,74167,760964,280893,10.00,217,33195000000,26,14.969080,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856721e+12,2.039126e+12,2.103588e+12
Japan,4,56249,55680,633294,136132,11.26,217,18984000000,149,10.232820,4.601663e+12,4.579750e+12,5.106679e+12,5.289494e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
United Kingdom,5,52572,51156,909276,151672,17.30,267,7920000000,124,10.600470,2.709978e+12,3.092996e+12,2.931684e+12,2.417566e+12,2.491397e+12,2.666403e+12,2.706341e+12,2.786315e+12,3.065223e+12,2.934858e+12
Germany,6,47781,46767,641717,133693,13.43,230,13261000000,165,17.901530,2.994704e+12,3.425578e+12,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12
Russian Federation,7,43567,43290,175721,79765,4.03,103,30709000000,214,17.288680,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12
Canada,8,39036,38276,787010,125333,20.16,263,10431000000,296,61.945430,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9,35991,34424,529459,123042,14.71,192,6530000000,109,33.667230,1.949552e+12,2.213102e+12,2.408655e+12,2.199929e+12,2.136100e+12,2.294994e+12,2.086958e+12,2.141924e+12,2.162010e+12,1.836638e+12
South Korea,10,35294,35005,503147,87529,14.26,182,11007000000,221,2.279353,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12
Iran,11,29776,29448,511199,150489,17.17,179,9172000000,119,5.707721,2.662989e+11,3.498816e+11,4.123362e+11,4.163970e+11,4.868076e+11,6.261331e+11,6.440355e+11,4.927756e+11,4.603828e+11,4.082129e+11
France,12,29351,28759,471469,79375,16.06,205,10597000000,166,17.020280,2.320536e+12,2.660591e+12,2.930304e+12,2.700887e+12,2.645188e+12,2.865158e+12,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12
Spain,13,27880,27272,515485,88803,18.49,202,4923000000,106,37.968590,1.260399e+12,1.474003e+12,1.631863e+12,1.491473e+12,1.422108e+12,1.480710e+12,1.324751e+12,1.355580e+12,1.371821e+12,1.196157e+12
Australia,14,25906,25237,495278,72475,19.12,212,5386000000,231,11.810810,7.479074e+11,8.544273e+11,1.055686e+12,9.286298e+11,1.148570e+12,1.398456e+12,1.546953e+12,1.576330e+12,1.467590e+12,1.350580e+12
Brazil,15,25887,25493,260540,60487,10.06,145,12149000000,59,69.648030,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12

### Question 2
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [6]:
def answer_two():
    # Get DataFrame from answer_one function
    top15 = answer_one()

    # Select columns from "2006" to "2015", for each row calculate mean
    # among values in selected columns, and sort values in descending order
    avg_gdp = top15.loc[:, "2006":"2015"].mean(axis="columns").sort_values(ascending=False)
    return avg_gdp

# Test the function
answer_two()

Country
United States         1.570403e+13
China                 6.927707e+12
Japan                 5.239642e+12
Germany               3.523342e+12
United Kingdom        2.780276e+12
France                2.691337e+12
Italy                 2.142986e+12
Brazil                1.988889e+12
Russian Federation    1.666746e+12
Canada                1.616359e+12
India                 1.602352e+12
Spain                 1.400886e+12
South Korea           1.221372e+12
Australia             1.207513e+12
Iran                  4.563261e+11
dtype: float64

### Question 3
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [7]:
def answer_three():
    # Get Series with average GDPs from answer_two function
    avg_gdps = answer_two()

    # Sort average GDPs in descending order and get the name of country on 6th position
    country_6th_gdp = avg_gdps.sort_values(ascending=False).index[5]

    # Get DataFrame from answer_one function
    top15 = answer_one()

    # Get GDP values in year 2006 and 2015 for country on 6th position
    country_gdp = top15.loc[country_6th_gdp, ["2006", "2015"]]

    # Calculate the difference between GDP value in 2015 and in 2006
    return country_gdp["2015"] - country_gdp["2006"]

# Test the function
answer_three()

118652421857.7998

### Question 4

Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [8]:
def answer_four():
    # Get DataFrame from answer_one function
    top15 = answer_one()

    # Create "Self-citations ratio" column by dividing the values of
    # "Self-citations" column by the values of "Citations" column
    top15["Self-citations ratio"] = top15["Self-citations"] / top15["Citations"]

    # Select the "Self-citations ratio" column with the maximum value in that column
    max_ratio = top15[top15["Self-citations ratio"] == top15["Self-citations ratio"].max()]["Self-citations ratio"]

    # Return tuple which contains the country name (Series index) and the maximum ratio (Series value)
    return (max_ratio.index.item(), max_ratio.item())

# Test the function
answer_four()

('China', 0.6853754846599598)

### Question 5

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [9]:
def answer_five():
    # Get DataFrame from answer_one function
    top15 = answer_one()

    # Population estimation is computed by integer dividing the values of
    # "Energy Supply" column by the values of "Energy Supply per Capita" column
    top15["Population"] = top15["Energy Supply"].floordiv(top15["Energy Supply per Capita"])

    # Sort rows by "Population" columns in descending order and get the name of country on 3rd position
    return top15.sort_values("Population", ascending=False).index[2]

# Test the function
answer_five()

'United States'

### Question 6
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

In [10]:
def answer_six():
    # Get DataFrame from answer_one function
    top15 = answer_one()

    # Create "Population" column by integer dividing the values of "Energy Supply"
    # column by the values of "Energy Supply per Capita" column
    top15["Population"] = top15["Energy Supply"].floordiv(top15["Energy Supply per Capita"])

    # Create "Citable documents per Capita" by dividing the values of
    # "Citable documents" column by the values of "Population" column
    top15["Citable documents per Capita"] = top15["Citable documents"] / top15["Population"]

    # Create the correlation matrix between values of "Citable documents per Capita" and
    # "Energy Supply per Capita" columns, and return the correlation coefficient
    return top15[["Citable documents per Capita", "Energy Supply per Capita"]].corr().iloc[0, 1]

# Test the function
answer_six()

0.7114342519843205

### Question 7
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [11]:
def answer_seven():
    # Maps the country names to their continents
    continent_dict = {
        "China": "Asia",
        "United States": "North America",
        "Japan": "Asia",
        "United Kingdom": "Europe",
        "Russian Federation": "Europe",
        "Canada": "North America",
        "Germany": "Europe",
        "India": "Asia",
        "France": "Europe",
        "South Korea": "Asia",
        "Italy": "Europe",
        "Spain": "Europe",
        "Iran": "Asia",
        "Australia": "Australia",
        "Brazil": "South America"
    }

    # Get DataFrame from answer_one function, and set its index as a column
    top15 = answer_one().reset_index()

    # Create "Continent" using continent_dict and the values of "Country" column
    top15["Continent"] = top15["Country"].map(continent_dict)
    
    # Create "Population" column by integer dividing the values of "Energy Supply"
    # column by the values of "Energy Supply per Capita" column
    top15["Population"] = top15["Energy Supply"].floordiv(top15["Energy Supply per Capita"])

    # Group rows by "Continent", get values of "Country" and "Population" columns, and perform
    # aggregate functions: count on "Country" column, sum, mean and std on "Population" column
    continents = top15.groupby("Continent")[["Country", "Population"]].agg(
        {"Country": "count", "Population": ["sum", "mean", "std"]}
    )

    # Rename the columns labels
    continents.columns = ["size", "sum", "mean", "std"]
    return continents

# Test the function
answer_seven()

               size         sum             mean           std
Continent
Asia              5  2898666384      579733276.8  6.790979e+08
Australia         1    23316017       23316017.0           NaN
Europe            6   457929664  76321610.666667  3.464767e+07
North America     2   352855248      176427624.0  1.996696e+08
South America     1   205915254      205915254.0           NaN